/*  */

:root {
    --main-light: rgb(41, 41, 41, 0.75);
    --main: rgb(41, 41, 41);
    --text: rgb(229, 228, 228);
}

* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--main);
    height: 150px;
    background-image: url(./background-images/header.png);
    background-size: cover;
    background-position: center;
}

#title {
    font-size: 38px;
    margin-right: 20px;
    color: var(--text);
    background-color: var(--main-light);
    padding: 7px;
    border-radius: 10px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    background-color: var(--main-light);
    border-radius: 10px;
}

.header-nav li {
    margin-right: 30px;
}

#last {
    margin-right: 0;
}

.header-nav a {
    text-decoration: none;
    font-size: 30px;
    color: var(--text);
}


main {

}

.main-card, .card {
    min-height: 200px;
    padding: 20px;
    border: 3px solid var(--main-light);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.main-card {
    width: 81%;
    margin: 10px;
    background-image: url(./background-images/main-img.png);
    background-size: cover;
    background-position: top;
}

.card {
    width: 40%;
    margin: 5px 10px;
    background-size: cover;
    background-position: center;
}



.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 50px;
}

.info {
    background-color: var(--main-light);
    color: var(--text);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
/* attatching a background image to each card item */
#card-2 {
    background-image: url(./background-images/Mario.64.jpeg);
}

#card-3 {
    background-image: url(./background-images/stock-3.jpeg);
}

#card-4 {
    background-image: url(./background-images/stock-4.jpeg);
}

#card-5 {
    background-image: url(./background-images/stock-5.jpg);
}



aside {
    padding: 30px;
    font-size: 30px;
    border-right: 3px solid blue;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 20px;
    height: auto;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 50px;
}

.para {
    width: 81%;
    padding: 60px;
    margin: 10px;
    font-size: 18px;
}
#contact {
    display: flex;
    justify-content: flex-end;

}
#contact ul {
    list-style: none;
    display: flex;
    padding: 50px;
    border-radius: 10px;
    width: 82%;
    font-size: 20px;
}

#contact li {
    padding: 30px;
    margin: 20px 30px;
    border: 2px solid var(--main-light);
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: var(--main);
}

@media screen and (max-width: 992px){
    header {
        background-image: url(./background-images/header-thin.png);
        background-size: cover;
        background-position: center;
        flex-direction: column;
    }
}